body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkgray;
}
.principal{
    width: 800px;
    margin: 0 auto;
    background-color: rgb(3, 78, 3);
    text-align: center;
    font-size: 20px;
    padding: 5px;
}
.menu{
    list-style: none;
    text-align: center;
    text-align: center;
}
.menu li{
    display: inline-block;
    margin: 5px 10px;
}
.menu a{
    text-decoration: none;
    color: yellow;
    font-weight: bold;
}
.menu a:hover{
    color: blue;
}
.imagem img{
    width: 300px;
}

.botao a{
    color: yellow;
    background-color: rgb(51, 25, 25);
    padding: 0 20px;
    border-radius: 5px;
    text-decoration: none;
    

}
.botao:hover a{
    background-color: rgb(99, 66, 66);

}
